body {
  background-image: url("./components/LaunchInfo/images/b.jpg");
}
.App {
  display: flex;
  flex-direction: column;
}
.launch {
  margin: 20px;
}
.launchInfo {
  margin: 20px;
  width: 100%;
}

.main {
  display: flex;
}
